.main {
  display: flex;
  grid-auto-flow: column;
  justify-items: center;
  min-height: 100svh;
}

.title_pane {
  display: flex;
  color: var(--purple_tinted);
  padding: 40svh 24pt;
  min-height: 100%;
  max-width: 30%;
  background: linear-gradient(90deg, var(--purple), var(--green));
}

.collection_pane{
  padding: 24pt 24pt;
  min-height: 100%;
  min-width: 70%;
}

.collections_container{
  display: flex;
  flex-wrap: wrap;
  gap: 12pt;
}
